<div class="title">
  <h3>Facture ZEN Groupe</h3>
</div>
<table class="table full-width">
  <tr>
    <h3>Choisir une date de facturation:</h3>
  </tr>
  <tr>
    <td>
      <div>
        <label for="start-date">Date de début:</label>
        <input type="date" id="start-date" [(ngModel)]="startDate" (ngModelChange)="calculateMonths()" (ngModelChange)="calculateMonthsTache()">
      </div>
    </td>
    <td>
      <div>
        <label for="end-date">Date de fin:</label>
        <input type="date" id="end-date" [(ngModel)]="endDate" (ngModelChange)="calculateMonths()" (ngModelChange)="calculateMonthsTache()">
      </div>
    </td>
    <td>
      <p>Nombre de moins: {{ numberOfMonths }}</p>
    </td>
  </tr>
  <tr>
    <th>Société bénificiaire</th>
    <th>Département exécutant</th>
  </tr>
   <ng-container *ngIf="startDate && endDate">
    <h4>Taches:</h4>
    <tr *ngFor="let group of groupedTaches">
      <td>
        <h2 (click)="selectGroup(group)">  {{ group.societe }}</h2>
      </td>
      <td colspan="2">
        <div *ngFor="let departement of group.departements">
          <td style="width: 410px;vertical-align: top;">
            <div>
              <h3>{{ departement.nom }}</h3>
            </div>
          </td>
        </div>
      </td>
    </tr>
    <h4>Projets:</h4>
    <tr *ngFor="let group of groupedData">
      <ng-container *ngIf="calculateTotalDepartmentProjet(group.data) !== 0">
        <td>
          <h2 (click)="selectGroup(group);">  {{ group.societe }}</h2>
        </td>
        <td colspan="2">
          <div *ngFor="let item of group.data">
        <td style="width: 410px;vertical-align: top;">
          <h3> {{ item.departement }}</h3>
        </td>
        </div>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</table>
<div *ngIf="selectedGroup">
  <button  id="fixed-button"  class="btn btn-success" (click)="openPDFDetailsProjet()" (click)="openPDFDetailsTache()" (click)="addFactureProjet()" (click)="addFactureTache()">Facture PDF</button>
</div>
<script>
  window.addEventListener('scroll', function() {
    var button = document.querySelector('#fixed-button');
    var scrollPosition = window.scrollY || document.documentElement.scrollTop;
    if (scrollPosition > 100) {
      button.classList.add('show-button');
    } else {
      button.classList.remove('show-button');
    }
  });
</script>
