<div class="title">
  <h3>Facture ZEN Groupe</h3>
</div>
<table class="table full-width">
  <tr>
    <h3>Choisir une date de facturation:</h3>
  </tr>
  <tr>
    <td>
      <div>
        <label for="start-date">Date de début:</label>
        <input type="date" id="start-date" [(ngModel)]="startDate" (ngModelChange)="calculateMonths()" (ngModelChange)="calculateMonthsTache()">
      </div>
    </td>
    <td>
      <div>
        <label for="end-date">Date de fin:</label>
        <input type="date" id="end-date" [(ngModel)]="endDate" (ngModelChange)="calculateMonths()" (ngModelChange)="calculateMonthsTache()">
      </div>
    </td>
    <td>
      <p>Nombre de moins: {{ numberOfMonths }}</p>
    </td>
  </tr>
  <tr>
    <th>Société bénificiaire</th>
    <th>Département exécutant</th>
    <th>cout</th>
    <th>Totale</th>
  </tr>
  <!-- *ngIf="startDate && endDate"-->
   <ng-container>
    <h4>Taches:</h4>
    <tr *ngFor="let group of groupedTaches">
      <td>
        <h2 (click)="toggleDetails(group)">{{ group.societe }}</h2>
      </td>
      <td colspan="2">
        <div *ngFor="let departement of group.departements">
          <td style="width: 410px;vertical-align: top;">
            <div>
              <h3>{{ departement.nom }}</h3>
            </div>
          </td>
          <td style="width: 270px;">
            <ul style="float: left;">
              <li *ngFor="let tache of departement.taches">
                <ng-container *ngIf="group.showDetails">
                  <span>Nom:{{ tache.attributes.nom_tache }} </span>
                  <span>Type:{{ tache.attributes.type_tache }}</span>
                </ng-container>
                <p>
                  {{ calculateTache(tache.attributes.type_tache, tache.attributes.nombre_de_tache, tache.attributes.cout_par_piece) }}
                </p>
              </li>
            </ul>
          </td>
        </div>
      </td>
      <td>
        {{ calculateTotalDepartementTaches(group.departements) }}
      </td>
    </tr>
    <h4>Projets:</h4>
    <tr *ngFor="let group of groupedData">
      <ng-container *ngIf="calculateTotalDepartmentProjet(group.data) !== 0">
        <td>
          <h2 (click)="toggleDetails(group)" (click)="selectGroup(group);">{{ group.societe }}</h2>
        </td>
        <td colspan="2">
          <div *ngFor="let item of group.data">
        <td style="width: 410px;vertical-align: top;">
          <h3> {{ item.departement }}</h3>
        </td>
        <td>
          <ul style="float: right;">
            <li *ngFor="let projet of item.projets">
              <ng-container *ngIf="group.showDetails">
                <span>{{ projet.attributes.nom_projet }} </span>
                <p>
                <span> DateDebut: {{ projet.attributes.date_debut }} </span>
                <span> DateFin: {{ projet.attributes.date_fin }} </span>
              </p>
              </ng-container>
              <p>
              <ng-container *ngIf="projet.totalcost !== 0">
                {{ projet.totalcost }}
              </ng-container>
            </p>
            </li>
          </ul>
        </td>
        </div>
        </td>
        <td>
          {{ calculateTotalDepartmentProjet(group.data) }}
        </td>
      </ng-container>
    </tr>
  </ng-container>
</table>
<div *ngIf="selectedGroup">
  <h3>Société: {{ selectedGroup.societe }}</h3>
  <button  (click)="openPDFDetails()">Facture PDF</button>
</div>