ul{
  list-style-type: none;
  width: max-content;
}
.form-group label , .type{
  padding-bottom: 15px;
}
td{
padding-right: 25px;
vertical-align: top;
padding-bottom: 20px;
}
.Description {
width: 850px;
height: 120px;
padding: 10px 10px;
border-radius: 4px;
}
label,.form-control{
margin-right: 35px;
}
button{
  margin-left: 370px;
}
.groupe{

  padding-left: 355px;
}