ul{
    list-style-type: none;
    width: max-content;
  }
  .form-group label , .type{
    padding-bottom: 15px;
  }
  td{
  padding-right: 25px;
  vertical-align: top;
  padding-bottom: 20px;
  }
  label{
  margin-right: 45px;
  width: 480px;
  }
  .form-control{
  margin-right: 35px;
  }
  button {
    margin-left: 230px;
  }