<div>
  <h1>Modifier la tache</h1>
  <hr>
</div>
<form>
  <table>
    <tr>
        <td>
            <div class="form-group">
              <label for="name">Nom de tache</label>
              <input  style="width: 825px;" id="name" type="text" class="form-control" [(ngModel)]="tache_nom" name="newTacheName">
            </div>
        </td>
    </tr>
    <tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="name">Description</label>
            <textarea class="Description" id="newTacheDescription" [(ngModel)]="tache_description" name="newTacheDescription" placeholder="Description"></textarea>
          </div>
        </td>
      </tr>
    <tr>
      <td colspan="2">
        <tr>
          <td class="liste">
            <div class="form-group">
              <label for="name">Nombre de Tache</label>
              <input id="name" type="number" class="form-control" [(ngModel)]="tache_nbre" name="newTacheJour">
            </div>
          </td>
          <td class="liste">
            <div class="form-group">
              <label for="name">coût unitaire</label>
              <input id="name" type="number" class="form-control" [(ngModel)]="tache_cout" name="newTacheCout">
            </div>
          </td>
        </tr>
      </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li class="liste">
                    <div>
                        <label class="type" for="name">Type de Tache:</label>
                        <ul>
                          <li>
                            <input type="radio" id="Journalier" name="option" value="Journalier" [(ngModel)]="tache_type">
                            <label>Journalier</label>
                          </li>
                          <li>
                            <input type="radio" id="Hebdomadaire" name="option" value="Hebdomadaire" [(ngModel)]="tache_type">
                            <label>Hebdomadaire</label>
                          </li>
                          <li>
                            <input type="radio" id="Mensuel" name="option" value="Mensuel" [(ngModel)]="tache_type">
                            <label>Mensuel</label>
                          </li>
                          <li>
                              <input type="radio" id="Trimestriel" name="option" value="Trimestriel" [(ngModel)]="tache_type">
                              <label>Trimestriel</label>
                            </li>
                            <li>
                              <input type="radio" id="Semestriel" name="option" value="Semestriel" [(ngModel)]="tache_type">
                              <label>Semestriel</label>
                            </li>
                            <li>
                              <input type="radio" id="Annuel" name="option" value="Annuel" [(ngModel)]="tache_type">
                              <label>Annuel</label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="liste">
                    <div class="form-group">
                        <label for="name">Société bénificiaire:</label>
                        <ul>
                            <li *ngFor="let societe of societesList" [for]="societe.id">
                                <input type="radio" name="societe" [id]="societe.id" [value]="societe.id" [checked]="societe.checked" (click)="selectSociete(societe)" />&nbsp;{{societe.attributes.Nom}}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
          <div>
            <button style="margin-left: 355px;" type="button" class="btn btn-success" (click)="editTache()">Enregistrer</button>
          </div>
        </td>
    </tr>
  </table>
</form>
