<div>
  <h1>Modifier la tache</h1>
  <hr>
</div>
<form>
  <table>
    <tr>
        <td>
            <div class="form-group">
              <label for="name">Nom de tache</label>
              <input  style="width: 825px;" id="name" type="text" class="form-control" [(ngModel)]="tache_nom" name="newTacheName">
            </div>
        </td>
    </tr>
    <tr>
        <td>
          <div class="form-group">
            <label for="name">Description</label>
            <textarea class="Description" id="newTacheDescription" [(ngModel)]="tache_description" name="newTacheDescription" placeholder="Description"></textarea>
          </div>
        </td>
      </tr>
        <tr>
          <td>
            <ul>
              <li class="listeNbr">
                <div class="form-group">
                  <label for="name">Nombre de Tache</label>
                  <input id="name" type="number" class="form-control" [(ngModel)]="tache_nbre" name="newTacheJour">
                </div>
              </li>
              <li class="listeNbr">
                <div class="form-group">
                  <label for="name">coût unitaire</label>
                  <input id="name" type="number" class="form-control" [(ngModel)]="tache_cout" name="newTacheCout">
                </div>
              </li>
            </ul>
          </td>
        </tr>
      <tr>
        <td>
            <ul>
                <li class="liste">
                    <div class="form-group">
                        <label for="name">Date de Tache:</label>
                        <input id="name" type="date" class="form-control" [(ngModel)]="tache_Date" name="newTacheDate">
                    </div>
                </li>
                <li class="liste">
                    <div class="form-group">
                        <label for="name">Société bénificiaire:</label>
                        <ul>
                            <li *ngFor="let societe of societesList" [for]="societe.id">
                                <input type="radio" name="societe" [id]="societe.id" [value]="societe.id" [checked]="societe.checked" (click)="selectSociety(societe)" />&nbsp;{{societe.attributes.Nom}}
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="liste">
                  <div class="form-group">
                      <label for="name">Département exécutant:</label>
                      <ul>
                          <li *ngFor="let dep of departementsList" [for]="dep.id">
                              <input type="radio" name="departement" [id]="dep.id" [value]="dep.id" [checked]="dep.checked" (click)="selectDepartement(dep)" />&nbsp;{{dep.attributes.nom}}
                          </li>
                      </ul>
                  </div>
              </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
          <div>
            <button style="margin-left: 355px;" type="button" class="btn btn-success" (click)="editTache()">Enregistrer</button>
          </div>
        </td>
    </tr>
  </table>
</form>
