<div class="title">
  <h3>liste des Departements</h3>
  <button style="float: right;" type="button" class="btn btn-success" mat-raised-button (click)="openAddPopup()"><i class="bi bi-plus-circle"></i> Ajouter</button>
</div>
<table class="table full-width">
  <tr>
    <th>Nom de Département</th>
    <th>Sociétés</th>
  </tr>
  <tr *ngFor="let dep of dep_nom | paginate: { itemsPerPage: 10, currentPage: p }">
    <td>
      <span>{{dep.attributes.nom}}</span>
    </td>
    <td>
      <span *ngIf="dep.societiesList && dep.societiesList.attributes.Nom">{{dep.societiesList.attributes.Nom}}</span>
    </td>
    <td>
      <div class="text-center">
        <button type="button" class="icon-button" (click)="edit(dep)"><i class="bi bi-pencil"></i></button>
        <button type="button" class="icon-button ml-auto" (click)="deleteDepartement(dep.id)"><i class="bi bi-trash"></i></button>
      </div>
    </td>
  </tr>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>