<div>
    <h1>Crée un nouveau Type de société</h1>
    <hr>
</div>
<div *ngIf="!errorMessage">
<form>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <label for="name">Type de société</label>
                    <input id="name" type="text" class="form-control" [(ngModel)]="newTypeName" name="newTypeeName" placeholder="Type">
                </div>
            </td>
            <td>
                <div>
                    <button type="submit" class="btn btn-success" (click)="addType()" >Enregistrer</button>
                </div>
            </td>
        </tr>
    </table>
</form>
</div>
<div *ngIf="errorMessage">
    <h1 style="text-align: center;">{{ errorMessage }}</h1>
  </div>