ul{
    list-style-type: none;
    width: max-content;
  }
  .form-group label , .type{
    padding-bottom: 15px;
  }
  td{
  padding-right: 25px;
  vertical-align: top;
  padding-bottom: 15px;
  }
  .Description {
  width: 890px;
  height: 120px;
  padding: 12px 20px;
  border-radius: 4px;
    }
  .form-control{
  margin-right: 35px;
  }
  .liste{
    float: left;
    width: 265px;
    margin-right: 10px;
  }
  .list{
    float: left;
    width: 350px;
    margin-right: 50px;
    margin-left: 48px;
  }
  button{
    margin-left: 360px;
  }