<section class="h-100 gradient-form" style="background-color: #eee;" style="width: 100%;">
  <div class="container py-5 h-100" style="width: 100%;">
    <div class="row d-flex justify-content-center align-items-center h-100" style="width: 100%;">
      <div class="col-10">
        <div class="card rounded-3 text-black" style="width: 100%;">
          <div class="row g-0" style="width: 100%;">
            <div class="col-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h1 class="mt-1 mb-5 pb-1"><i class="bi bi-person-circle"></i>Authentification:</h1>
                </div>
                <form [formGroup]="loginForm">
                  <p>Please login to your account</p>
                  <div class="form-outline mb-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                      <input type="email" id="form2Example11" class="form-control" placeholder="Username" formControlName="email">
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" id="form2Example22" class="form-control" placeholder="Mot de passe" formControlName="password">
                  </div>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-success" type="button" [disabled]="submitted" (click)="login()"><i class="bi bi-box-arrow-in-right"></i> Log in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>