ul{
    list-style-type: none;
    width: max-content;
  }
  .form-group label{
    padding-bottom: 15px;
  }
  td{
  padding-right: 25px;
  vertical-align: top;
  padding-bottom: 15px;
  }
  .Description {
  width: 890px;
  height: 120px;
  padding: 12px 20px;
  border-radius: 4px;
  }
  label{
  margin-right: 45px;
  }
  .form-control{
  margin-right: 35px;
  }
  .liste{
    float: left;
    margin-right: 40px;
    padding-left: 25px;
    }
    .societe{
      padding-left: 350px;
     }