ul{
    list-style-type: none;
    width: max-content;
  }
  .form-group label{
    padding-bottom: 15px;
  }
  td{
  vertical-align: top;
  padding-bottom: 20px;
  }
  .form-control{
  width: 350px;
  margin-right: 30px;
  }
  button{
    margin-left: 335px;
  }